.contact-us {
  display: flex;
  justify-content: space-between;

  background-color: $colorViolet;

  &__text-container {
    display: flex;
    flex-direction: column;

    margin-left: 180px;

    @include onTablet {
      margin: 0 50px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #fff;

    margin-top: 102px;

    margin-bottom: 230px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #fff;

    margin-bottom: 75px;

    @include onMobile {
      font-size: 32px;
      line-height: 47px;
    }
  }

  &__text {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #fff;

    margin-bottom: 94px;

    @include onMobile {
      font-size: 24px;
      line-height: 34px;
    }
  }

  &__get {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: $colorAzure;
    text-decoration: none;

    margin-bottom: 42px;

    transition: 0.3s;

    @include onMobile {
      margin: 0 auto 42px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    max-width: 580px;
    margin-left: 100px;

    transition: 0.3s;

    @include onTablet {
      display: none;
    }

    &:hover {
      transform: scale(0.9);
    }
  }
}
