.contacts {
  display: flex;
  
  @include onTablet {
    flex-direction: column;
  }

  &__image {
    margin-right: 68px;
    object-fit: cover;

    @include onTablet {
      height: 400px;
      width: 100%;
    }
  }

  &__blocks {
    display: flex;

    max-width: 764px;
    margin-top: 98px;

    padding-bottom: 74px;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__info {
    max-width: 207px;
  }

  &__title {
    height: 48px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    font-weight: bold;
    color: $colorViolet;
  }

  &__location {
    margin-bottom: 22px;
  }
}
