.footer {
  display: flex;
  align-items: center;

  padding-left: 179px;
  height: 80px;
  
  background-color: $colorAzure;
  font-family: Larsseit, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 11px;
  letter-spacing: -0.01em;
  color: #fff;
}
