.footer {
  display: flex;
  align-items: center;

  background-color: $colorAzure;

  height: 80px;

  &__text {
    margin-left: 179px;
    
    font-size: 14px;
    font-weight: bold;
    line-height: 11px;
    letter-spacing: -0.01em;
    color: #fff;
    
    @include onTablet {
      margin: 0 auto;
    }
  }
}
