.help {
  &__title {
    padding-bottom: 24px;

    opacity: 50%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: normal;

    color: $colorViolet;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
    }

    margin-bottom: 120px;
  }
}
