@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit\ family/Larsseit.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit\ family/Larsseit-Bold.woff") format("woff");
  font-weight: bold;
}
